<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Dpto.</th>
                <th>Localidad</th>
                <th>Provincia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of data">
                <td>{{ i.tipo }}</td>
                <td>{{ i.nombre }}</td>
                <td>{{ i.departamento }}</td>
                <td>{{ i.localidad }}</td>
                <td>{{ i.provincia }}</td>
            </tr>
        </tbody>
    </table>
</div>