<div class="container mt-4 ">
    <h3>Proyecto integrador final</h3>
    <p>Esta aplicación fue creada en el marco del proyecto 
        final del curso de Desarrollador Web Frontend de la
         <a href="https://icaro.org.ar/">Asociación Icaro</a>, por mí,
         Valentin Alvarez.
    </p>    
    <h3>Que APIs utiliza?</h3>
    <p>La aplicación consume datos de 3 APIs: <br>
        <ul>
            <li>
                <a href="https://www.argentina.gob.ar/onti/software-publico/catalogo/apis" target="blank">
                API del Servicio de Normalización de Datos Geográficos de Argentina
                </a>
            </li>
            <li>
                <a href="https://docs.mapbox.com/api/" target="blank">
                    Mapbox API
                </a>
            </li>
            <li>
                Una api propia para obtener las coordenadas de las ciudades (<a href="https://github.com/valent-in-to/nombre-calles-api">Link a github</a>)
            </li>
        </ul>
</div>