.navbar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: white;
}
   